/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-pdm-columns::after {
	border-radius: 4px!important;
	outline-offset: 4px!important;
}

.wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    gap: var(--desktop-gap);
    flex-wrap: wrap;
}

.wp-block-pdm-columns.is-selected {
    outline: 2px solid var(--wp-admin-theme-color);
	outline-offset: 4px;
}

.wp-block-pdm-columns.is-selected .wp-block-pdm-column {
	outline: 2px solid var(--wp-admin-theme-color)!important;
}

.wp-block-pdm-columns:hover .wp-block-pdm-column {
	outline: 2px solid color-mix(in srgb, var(--wp-admin-theme-color) 50%, transparent)!important;
}

.wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block-pdm-column {
	width: calc((100% / var(--desktop-columns, 3)) - (var(--desktop-gap) - (var(--desktop-gap) / var(--desktop-columns, 3))));
	box-sizing: border-box;
}

// vertical alignment
.wp-block-pdm-columns.is-vertically-aligned-top>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-start;
}
.wp-block-pdm-columns.is-vertically-aligned-center>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: center;
}
.wp-block-pdm-columns.is-vertically-aligned-bottom>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: flex-end;
}
.wp-block-pdm-columns.is-vertically-aligned-stretch>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: stretch;
}


@media (max-width: 1024px) {
	.wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
		gap: var(--tablet-gap);
	}

    .wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block-pdm-column {
		width: calc((100% / var(--tablet-columns, 3)) - (var(--tablet-gap) - (var(--tablet-gap) / var(--tablet-columns, 3))));
	}
}

@media (max-width: 768px) {
    .wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
        gap: var(--mobile-gap);
    }

    .wp-block-pdm-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block-pdm-column {
		width: calc((100% / var(--mobile-columns, 3)) - (var(--mobile-gap) - (var(--mobile-gap) / var(--mobile-columns, 3))));
	}
}