/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-pdm-card {
	position: relative;
	display: flex;
	flex-direction: column;

	.pdm-card-link {
		position: absolute;
		inset: 0;
		z-index: 1;
		cursor: pointer;
	}

	a:not(.pdm-card-link),
	button,
	[role="button"],
	.wp-block-button,
	.wp-block-buttons {
		position: relative;
		z-index: 2;
	}

	.content-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&.is-vertically-aligned-top {
		justify-content: flex-start;

		.content-wrapper {
			justify-content: flex-start;
		}
	}

	&.is-vertically-aligned-center {
		justify-content: center;

		.content-wrapper {
			justify-content: center;
		}
	}

	&.is-vertically-aligned-bottom {
		justify-content: flex-end;

		.content-wrapper {
			justify-content: flex-end;
		}
	}

	&.is-vertically-aligned-stretch {
		justify-content: stretch;

		.content-wrapper {
			justify-content: stretch;
		}
	}

	.pdm-card-image {
		width: 100%;
	}

	.section-background {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;
		border-radius: inherit;
		overflow: hidden;
	}

	.section-background img,
	.section-background video {
		height: 100%;
		width: 100%;
		border: 0;
	}
}