/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-pdm-split-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
	display: flex;
	flex-direction: var(--row-direction);
	gap: var(--v-gap) var(--h-gap);
	flex-wrap: wrap;
}

// vertical alignment

.is-vertically-aligned-top>.block-editor-inner-blocks>.block-editor-block-list__layout {
	align-items: flex-start;
}

.is-vertically-aligned-center>.block-editor-inner-blocks>.block-editor-block-list__layout {
	align-items: center;
}

.is-vertically-aligned-bottom>.block-editor-inner-blocks>.block-editor-block-list__layout {
	align-items: flex-end;
}

.is-vertically-aligned-stretch>.block-editor-inner-blocks>.block-editor-block-list__layout {
	align-items: stretch;
}

// column sizing

.wp-block-pdm-split-columns .wp-block-pdm-split-column:nth-of-type(odd) {
	width: calc(var(--column-sizing) - (var(--h-gap) / 2));
}

.wp-block-pdm-split-columns .wp-block-pdm-split-column:nth-of-type(even) {
	width: calc(calc(100% - var(--column-sizing)) - (var(--h-gap) / 2));
}

// borders 
.wp-block-pdm-split-columns.is-selected {
    outline: 2px solid var(--wp-admin-theme-color);
	outline-offset: 4px;
}

.wp-block-pdm-split-columns.is-selected .wp-block-pdm-split-column {
	outline: 2px solid var(--wp-admin-theme-color)!important;
}

.wp-block-pdm-split-columns:hover .wp-block-pdm-split-column {
	outline: 2px solid color-mix(in srgb, var(--wp-admin-theme-color) 50%, transparent)!important;
}

// vertical stacking
@media(max-width: 1550px) {
	.wp-block-pdm-split-columns.stack-1550>.block-editor-inner-blocks>.block-editor-block-list__layout {
		flex-direction: var(--stack-order);
	}
	.wp-block-pdm-split-columns.stack-1550 .wp-block-pdm-split-column {
		width: 100%!important;
	}
}

@media(max-width: 1250px) {
	.wp-block-pdm-split-columns.stack-1250>.block-editor-inner-blocks>.block-editor-block-list__layout {
		flex-direction: var(--stack-order);
	}
	.wp-block-pdm-split-columns.stack-1250 .wp-block-pdm-split-column {
		width: 100%!important;
	}
}

@media(max-width: 1024px) {
	.wp-block-pdm-split-columns.stack-1024>.block-editor-inner-blocks>.block-editor-block-list__layout {
		flex-direction: var(--stack-order);
	}
	.wp-block-pdm-split-columns.stack-1024 .wp-block-pdm-split-column {
		width: 100%!important;
	}
}

@media(max-width: 768px) {
	.wp-block-pdm-split-columns.stack-768>.block-editor-inner-blocks>.block-editor-block-list__layout {
		flex-direction: var(--stack-order);
	}
	.wp-block-pdm-split-columns.stack-768 .wp-block-pdm-split-column {
		width: 100%!important;
	}
}