/**
 * Frontend styles for testimonials block
 */

@import '@splidejs/splide/css';

.wp-block-pdm-testimonials {
	&.testimonials-grid {
		.testimonials-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;
			
			@media (max-width: 1200px) {
				grid-template-columns: repeat(3, 1fr);
			}
			
			@media (max-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
			
			@media (max-width: 576px) {
				grid-template-columns: 1fr;
			}
		}
	}
	
	&.testimonials-slider {
		.splide {
			.splide__slide {
				.testimonial-wrapper {
					padding: 10px;
				}
			}
			
		}
	}
}
