/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.pdm-cards {
    display: flex;
	flex-wrap: wrap;
    gap: var(--desktop-gap);
}

.pdm-cards>.wp-block-pdm-card {
	width: calc((100% / var(--desktop-columns, 3)) - (var(--desktop-gap) - (var(--desktop-gap) / var(--desktop-columns, 3))));
	box-sizing: border-box;
}

// bottom alignment for last block
.pdm-cards>.wp-block-pdm-card>:last-child {
    margin-top: var(--align-bottom);
}

// justification
.wp-block-pdm-cards.is-justified-left {
	justify-content: flex-start;
}
.wp-block-pdm-cards.is-justified-center {
	justify-content: center;
}
.wp-block-pdm-cards.is-justified-right {
	justify-content: flex-end;
}
.wp-block-pdm-cards.is-justified-space-between {
	justify-content: space-between;
}

// vertical alignment
.wp-block-pdm-cards.is-vertically-aligned-top {
    align-items: flex-start;
}
.wp-block-pdm-cards.is-vertically-aligned-center {
    align-items: center;
}
.wp-block-pdm-cards.is-vertically-aligned-bottom {
    align-items: flex-end;
}
.wp-block-pdm-cards.is-vertically-aligned-stretch {
    align-items: stretch;
}

@media (max-width: 1024px) {
    .pdm-cards>.wp-block-pdm-card {
		width: calc((100% / var(--tablet-columns, 3)) - (var(--tablet-gap) - (var(--tablet-gap) / var(--tablet-columns, 3))));
	}

	.pdm-cards {
		gap: var(--tablet-gap);
	}
}

@media (max-width: 768px) {
    .pdm-cards>.wp-block-pdm-card {
		width: calc((100% / var(--mobile-columns, 3)) - (var(--mobile-gap) - (var(--mobile-gap) / var(--mobile-columns, 3))));
	}

	.pdm-cards {
		gap: var(--mobile-gap);
	}
}